[Unit]
Description=easeon web socket daemon
After=network.target

[Service]
User=easeon
Group=easeon
WorkingDirectory=/home/easeon/production/easeon_socket
ExecStart=/home/easeon/venvs/easeon_socket-0X7pXzKM/bin/python app.py
[Install]
WantedBy=multi-user.target
