[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
pylint = "*"
flake8 = "*"
autopep8 = "*"

[packages]
django-environ = "*"
django-filter = "==2.2.0"
djangorestframework = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
six = "*"
Django = "==2.2.13"
pyotp = "*"
Pillow = "*"
django-extensions = "*"
gunicorn = "*"
gevent = "*"
redis = "*"
ipython = "*"
rocketchat-API = "*"
numpy = "*"
pandas = "*"
WeasyPrint = "*"
django-redis = "*"
idna = "==2.5"
gtts = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"

[packages.celery]
extras = [ "redis",]
version = "*"
