[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
pylint = "*"

[packages]
django-environ = "*"
django-filter = "==2.2.0"
djangorestframework = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
psycopg2 = "*"
six = "*"
django = "==2.2.13"
pyotp = "*"
django-rest-swagger = "*"
pillow = "*"
django-extensions = "*"
gunicorn = "*"
gevent = "*"
pandas = "*"
numpy = "*"
django-pandas = "*"
celery = {extras = ["redis"], version = "*"}
redis = "*"

[requires]
python_version = "3.8"
