[Unit]
Description=easeon Dashboard daemon
After=network.target

[Service]
User=easeon
Group=www-data
Environment="SUPERSET_CONFIG_PATH=/home/easeon/production/easeon/dashboard.config"
WorkingDirectory=/home/easeon/production/easeon
ExecStart=/home/easeon/venvs/easeon-2yT545Ma/bin/gunicorn\
       -w 2 \
      --timeout 120 \
      -b  0.0.0.0:6666 \
      --limit-request-line 0 \
      --limit-request-field_size 0 \
      "superset.app:create_app()"

[Install]
WantedBy=multi-user.target
