<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>
                        Success
                    </h2>
                    <p>
                        Your Account Details have been sent to the admin.
                    </p>
                    <p>
Please contact admin on {{admin_email}} to get your account activated.

                    </p>
                    <p>
                        <a class="btn btn-primary btn-large" href="/">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
