[Unit]
Description=easeon daemon
Requires=easeon.socket
After=network.target

[Service]
User=easeon
Group=www-data
WorkingDirectory=/home/easeon/production/easeon
ExecStart=/home/easeon/venvs/easeon-2yT545Ma/bin/gunicorn\
          --access-logformat '%(h)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s "%(f)s" "%(a)s"'\
          --error-logfile -\
          --access-logfile - \
          -w 10 \
          -k gevent \
          --timeout 120 \
          --bind unix:/run/easeon.sock\
          EaseOn.wsgi:application
[Install]
WantedBy=multi-user.target
