<table style="font-size:12px ;width:100%">
    <tr>
        <td style="padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66);" colspan="2">

            <div class="text-center">
                <h2 class="mb-0">{{ticket.organization.name}}</h2>
                <h6><strong>Service Report</strong></h6>
            </div>
            </div>
        </td>

    </tr>
    <tr>
        <td class="text-left pl-3" style=" vertical-align: center; border: 1px solid rgb(66, 66, 66);">
            <h3 class="pl-3">{{ticket.reference_number}}</h3>
        </td>

        <td style="padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66);">
            <br />
            <div><strong><label>Created On: </label></strong><time>
                    {{ticket.created_at}}</time></div>
            <div><strong><label>Expected Delivery Time: </label></strong><time>

                    {{ticket.expected_delivery_time}}
                </time></div>

        </td>


    </tr>
    <tr>
        <td valign="top" style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66);">
            <h5><strong><label>Device Information</label></strong></h5>
            <p><strong><label>Serial Number: </label></strong>{{ticket.device.serial_number}}</p>
            {% if ticket.device.alternate_device_id is not None%}
            <p><strong><label>IMEI Number: </label></strong>{{ticket.device.alternate_device_id}}</p>
            {% endif%}
            <p><strong><label>Product: </label></strong>{{ticket.device.product_name}}</p>
            <p><strong><label>Configuration: </label></strong>{{ticket.device.configuration}}</p>
        </td>

        <td style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66);">

            <h5><strong><label>Service Provider Information</label></strong></h5>
            <p><strong><label>Name: </label></strong>{{ticket.organization.name}}</p>
            <p><strong><label>Address: </label></strong>
                {{ticket.organization.address}},{{ticket.organization.city}},{{ticket.organization.state}},{{ticket.organization.pin_code}}
            </p>
            <p><strong><label>Email: </label></strong>{{ticket.organization.email}}</p>
            <p><strong><label>Contact Number: </label></strong>{{ticket.organization.contact_number}}</p>
            <p><strong><label>Timing: </label></strong>{{ticket.organization.timings}}
            </p>

        </td>


    </tr>
    <tr>
        <td style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66);">


            <h5><strong><label>Customer Information</label></strong></h5>
            <p><strong><label>Name: </label></strong>{{ticket.customer.full_name}}</p>
            <p><strong><label>Address: </label></strong>
                {{ticket.customer.communication_address}}
            </p>
            <p><strong><label>Email: </label></strong>{{ticket.customer.email}}</p>
            <p><strong><label>Contact Number: </label></strong>{{ticket.customer.contact_number}}</p>
        </td>

        <td style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66);">
            <h5> <strong><label>Issue
                        Reported By
                        Customer: </label></strong></h5>

            <p>{{ticket.issue_reported_by_customer}}</p>


        </td>


    </tr>
    <tr>
        <td style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66);">
            <strong><label>Inward
                    Details:
                </label></strong>

            <p style="overflow-wrap: break-word;"><strong><label>Service Type: </label></strong>
                {{ticket.coverage_type}}
            </p>

            <p style="overflow-wrap: break-word;"><strong><label>Repair Type: </label></strong>
                {{ticket.repair_type}}
            </p>

            <p style="overflow-wrap: break-word;"><strong><label>Stand By Device </label></strong>

                {% if ticket.is_standby_device_required %}
                Yes
                {% else %}
                No
                {% endif%}
            </p>




            <p style="overflow-wrap: break-word;"><strong><label>Accessories Received: </label>
                </strong> {{ticket.accessories}}</p>


            <p style="overflow-wrap: break-word;"><strong><label>Required Upgrades: </label></strong>
                {{ticket.required_upgrades}}

            </p>


            <p style="overflow-wrap: break-word;"><strong><label>Unit Condition: </label></strong> User level
                {{ticket.device_condition}}</p>


        </td>

        <td style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66);">
            <p><strong><label>Device Part Information</label></strong></p>
            <table style="padding:0px" class="table table-borderless table-sm">
                <thead style="padding:0px">
                    <tr style="padding:0px">
                        <th style="padding:0px"> Part </th>
                        <th style="padding:0px"> Initial Status </th>
                    </tr>
                </thead>
                <tbody style="padding:0px">
                    {% for k,v in ticket.unit_part_reports.items %}
                    <tr style="padding:0px">
                        <th style="padding:0px"> {{k}} </th>
                        <td style="padding:0px"> {{v}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>


    </tr>
    <tr>
        <td colspan="2">
            <table style="width:100%">
                <tr>
                    <td style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66);">

                        <div>
                            <p style="overflow-wrap: break-word;"><strong><label>Token Number: </label></strong>
                                {{ticket.customer.token_number}}</p>
                        </div>
                        </div>
                    </td>
                    <td style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66);">

                        <div>
                            <p style="overflow-wrap: break-word;"><strong><label>Operating System: </label></strong>
                                {{ticket.initial_operating_system}}</p>
                        </div>
                    </td>
                    <td style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66);">

                        <div>
                            <p style="overflow-wrap: break-word;"><strong><label>Backup Required: </label>
                                </strong>
                                {% if ticket.initial_operating_system %}
                                Yes
                                {% else %}
                                No
                                {% endif%}
                            </p>
                        </div>
                        </div>

                    </td>

                </tr>
            </table>




        </td>




    </tr>
    <tr>
        <td colspan="2">
            <table style="width:100%">
                <tr>
                    <td style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66);">
                        <strong><label>Expected
                                Service/Diagnosis Cost: </label></strong><strong>
                            {{ticket.expected_service_cost}}
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="rupee-sign"
                                class="svg-inline--fa fa-rupee-sign fa-w-10 " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <path fill="currentColor"
                                    d="M308 96c6.627 0 12-5.373 12-12V44c0-6.627-5.373-12-12-12H12C5.373 32 0 37.373 0 44v44.748c0 6.627 5.373 12 12 12h85.28c27.308 0 48.261 9.958 60.97 27.252H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h158.757c-6.217 36.086-32.961 58.632-74.757 58.632H12c-6.627 0-12 5.373-12 12v53.012c0 3.349 1.4 6.546 3.861 8.818l165.052 152.356a12.001 12.001 0 0 0 8.139 3.182h82.562c10.924 0 16.166-13.408 8.139-20.818L116.871 319.906c76.499-2.34 131.144-53.395 138.318-127.906H308c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-58.69c-3.486-11.541-8.28-22.246-14.252-32H308z">
                                </path>
                            </svg></strong></div>
                    </td>
                    <td style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66);">
                        <strong><label>Expected Hardware
                                Cost: </label></strong><strong>
                            {{ticket.expected_hardware_cost}} <svg aria-hidden="true" focusable="false"
                                data-prefix="fas" data-icon="rupee-sign" class="svg-inline--fa fa-rupee-sign fa-w-10 "
                                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <path fill="currentColor"
                                    d="M308 96c6.627 0 12-5.373 12-12V44c0-6.627-5.373-12-12-12H12C5.373 32 0 37.373 0 44v44.748c0 6.627 5.373 12 12 12h85.28c27.308 0 48.261 9.958 60.97 27.252H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h158.757c-6.217 36.086-32.961 58.632-74.757 58.632H12c-6.627 0-12 5.373-12 12v53.012c0 3.349 1.4 6.546 3.861 8.818l165.052 152.356a12.001 12.001 0 0 0 8.139 3.182h82.562c10.924 0 16.166-13.408 8.139-20.818L116.871 319.906c76.499-2.34 131.144-53.395 138.318-127.906H308c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-58.69c-3.486-11.541-8.28-22.246-14.252-32H308z">
                                </path>
                            </svg></strong></div>
                    </td>
                    <td style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66);">
                        <strong><label>Total Cost:
                            </label></strong><strong>
                            {{ticket.expected_cost}} <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                data-icon="rupee-sign" class="svg-inline--fa fa-rupee-sign fa-w-10 " role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <path fill="currentColor"
                                    d="M308 96c6.627 0 12-5.373 12-12V44c0-6.627-5.373-12-12-12H12C5.373 32 0 37.373 0 44v44.748c0 6.627 5.373 12 12 12h85.28c27.308 0 48.261 9.958 60.97 27.252H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h158.757c-6.217 36.086-32.961 58.632-74.757 58.632H12c-6.627 0-12 5.373-12 12v53.012c0 3.349 1.4 6.546 3.861 8.818l165.052 152.356a12.001 12.001 0 0 0 8.139 3.182h82.562c10.924 0 16.166-13.408 8.139-20.818L116.871 319.906c76.499-2.34 131.144-53.395 138.318-127.906H308c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-58.69c-3.486-11.541-8.28-22.246-14.252-32H308z">
                                </path>
                            </svg></strong></div>

                    </td>

                </tr>
            </table>




        </td>




    </tr>
</table>

<div style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66); ">
    <p><strong><label>Important</label></strong></p>
    <ul>
        {% for k in ticket.sla.terms.all %}
        <li class="text-justify">
            <p style="padding: 5px; overflow-wrap: break-word;"> {{k.statement}}
            </p>
        </li>
        {% endfor %}
    </ul>
</div>

<table style="font-size:12px ;width:100%"></table>
<tr>
    <td style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66); ">
        <div class="text-left">
            <p style="overflow-wrap: break-word;"> {{ticket.created_by.full_name}}</p>
        </div>
    </td>
    <td style=" padding-left :8px; vertical-align: top; border: 1px solid rgb(66, 66, 66); ">
        <div class="text-right">
            <p style="overflow-wrap: break-word;"> Customer Signature</p>
        </div>
    </td>
</tr>
</table>