[Unit]
Description=easeOn daemon
Requires=easeOn.socket
After=network.target

[Service]
User=easeon
Group=www-data
#Environment=EASE_ON_SECRET_KEY='dp&k$_3uhygkloinbx&c3u&o8'
#Environment=EASE_ON_ALLOWED_HOSTS='*'
#Environment=EASE_ON_ADMIN_NAME='Vivek Srivastava'
#Environment=EASE_ON_ADMIN_EMAIL='developer.viveksrivastava@gmail.com'
#Environment=EASE_ON_ACCOUNT_APPROVER='nagmani@uipl.co.in'
#Environment=EASE_ON_OTP_ALGO='hotp'
#Environment=EASE_ON_DB='ease_on'
#Environment=EASE_ON_DB_USER='ease_on_user'
#Environment=EASE_ON_DB_USER_PASSWORD='ease_on_password'
#Environment=EASE_ON_DB_HOST='localhost'
#Environment=EASE_ON_EMAIL_USER='developer.viveksrivastava@gmail.com'
#Environment=EASE_ON_EMAIL_PASSWORD='Pnn@9657946755'

WorkingDirectory=/home/easeon/easeOnProject/easeOn
ExecStart=/home/easeon/.venvs/easeOn-QOBr8ypZ/bin/gunicorn\
          --access-logformat '%(h)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s "%(f)s" "%(a)s"'\
          --error-logfile -\
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/easeOn.sock \
          EaseOn.wsgi:application
[Install]
WantedBy=multi-user.target
