<tr
	style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
	<td class="content-block" itemprop="handler" itemscope="" itemtype="http://schema.org/HttpActionHandler"
		style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
		valign="top">
		<p>{{action_summary}}</p>

		<a href="{{action_link}}" target="_blank" saprocessedanchor="true" class="btn-primary" itemprop="url" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
			box-sizing: border-box;
			font-size: 14px; color: #000;
			 text-decoration: none;
			 line-height: 2em; font-weight: bold;
			  text-align: center;
			  cursor: pointer; display: inline-block;
			   border-radius: 20px; text-transform: capitalize;
				background-color: #1ee494; margin: 0;
				 border-color: #1ee494;
				 border-style: solid; border-width: 10px 20px;">{{action_name}}</a>
	</td>
</tr>
<tr
	style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
	<td class="content-block" target="_blank" saprocessedanchor="true" itemprop="handler" itemscope=""
		itemtype="http://schema.org/HttpActionHandler"
		style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
		valign="top">

		Alternatively you can copy this link and paste on your browser window <br />
		<a href="{{action_link}}">{{action_link}}</a>
	</td>
</tr>